$main-color: #ff385c;
$light-gray: #888;

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Roboto;
}

.main-header,
.main-body {
  margin: 0 auto;
  padding: 1rem 5rem;
}

// Header
.header {
  display: flex;
  height: 80px;
  justify-content: space-between;

  &__brand {
    margin: auto 0;
  }

  &__image {
    height: 50px;
    padding: 0.5rem;
    width: 50px;
  }

  &__nav {
    margin: auto 0;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: #000;
    line-height: 4;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
      background: rgba(34, 34, 34, 0.05);
      border-radius: 1rem;
    }
  }

  &__sign-up {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1rem;
    cursor: pointer;
    outline-style: none;
    padding: 0.5rem;
    transition: box-shadow 500ms;

    &:hover {
      box-shadow: 0 0 3px $light-gray;
    }
  }
}

// Search
.search {
  display: flex;
  flex-direction: column;

  &__options {
    margin: auto 0;
    padding: 10px 0;
  }

  &__item {
    display: inline;
    padding: 0.5rem;
  }

  &__link {
    cursor: pointer;
    padding-bottom: 2px;
    transition: color 1s ease-in;

    &:hover {
      border-bottom: 2px solid #000;
      color: lighten(#000000, 50%);
    }
  }

  &__form {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }

  &__new {
    background-color: $main-color;
    border-radius: 4px;
    color: #fff;
    display: inline;
    font-size: 0.7rem;
    padding: 1px 5px;
    text-transform: uppercase;
  }

  &__input {
    border-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    padding: 1rem;
    transition: border 50ms ease-in;
    width: 33vw;

    &:hover {
      border: 1px solid rgb(235, 235, 235);
      border-radius: 12px;
    }

    &:last-of-type {
      button {
        background-color: $main-color;
        background-image: linear-gradient(
          to right,
          $main-color,
          darken($main-color, 10%)
        );
        border: 1px solid rgb(235, 235, 235);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        float: right;
        outline-style: none;
        padding: 0.7rem;
        transition: box-shadow 500ms;

        i {
          color: #fff;
          margin-right: 5px;
        }
      }
    }
  }
}

// Message section
.message {
  margin: 2rem auto;

  &__text {
    font-size: 2.5rem;
    font-weight: normal;
    background: linear-gradient(
      to right,
      rgb(146, 23, 77) 9.38%,
      rgb(228, 29, 92) 88.54%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Cards section
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin: auto 4rem;

  .card {
    border-radius: 9px;
    box-shadow: 3px 3px 5px lighten(#000000, 90%);
    overflow: hidden;
    position: relative;
    width: 32%;

    &__new {
      background-color: #fff;
      border-radius: 3px;
      font-size: 12px;
      font-weight: bold;
      left: 10px;
      padding: 0.3rem;
      position: absolute;
      top: 10px;
    }

    &__image {
      width: 100%;
    }

    &__legend {
      padding: 0.5rem;

      p {
        color: lighten(#000000, 50%);
      }
    }
  }
}

// Online Experience
.online-experience {
  background-color: #000;
  color: #fff;
  margin-top: 2rem;

  &__header {
    padding: 2rem 0;
    position: relative;

    button {
      background-color: #000;
      border-radius: 5px;
      color: #fff;
      float: right;
      padding: 0.5rem 0.7rem;
      position: absolute;
      right: 5rem;
      top: 2.5rem;
    }
  }

  &__body {
    display: flex;
    // padding: 2rem 2rem;
    .section {
      background-color: rgb(34, 34, 34);
      border-radius: 10px;
      color: #fff;
      margin: 1rem;
      overflow: hidden;
      box-sizing: border-box;
      &__image {
        img {
          height: 100%;
          width: 100%;
        }
      }
      &__legend {
        padding: 0.5rem 1rem 1.5rem;
      }
    }
    .section:first-of-type {
      width: 50%;
      max-height: 600px;
      img {
        max-height: 550px;
      }
    }
    .container {
      width: 50%;
      .section--small {
        float: left;
        max-height: 275px;
        max-width: 392px;
        width: calc(50% - 2rem);
        img {
          max-height: 225px;
        }
      }
      .section--small::after {
        clear: both;
      }
      .section--medium {
        max-width: 784px;
        width: calc(100% - 2rem);
        max-height: 275px;
        img {
          max-height: 225px;
        }
      }
    }
  }
}

footer {
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 20px 5rem;
  position: fixed;
  width: calc(100vw - 10rem);

  ul > li {
    display: inline;
  }
}
