$main-color: #ff385c;
$light-gray: #888;

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(
    legacy-direction($direction),
    $color-stops
  );
  background: linear-gradient($direction, $color-stops);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Roboto;
}

// Header
.header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 0 1.5rem;

  &__brand {
    margin: auto 0;
  }

  &__image {
    height: 50px;
    padding: 0.5rem;
    width: 50px;
  }

  &__nav {
    margin: auto 0;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    color: #000;
    line-height: 4;
    padding: 0.5rem;
    text-decoration: none;

    &:hover {
      background: rgba(34, 34, 34, 0.05);
      border-radius: 1rem;
    }
  }

  &__sign-up {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 1rem;
    cursor: pointer;
    outline-style: none;
    padding: 0.5rem;
    transition: box-shadow 500ms;

    &:hover {
      box-shadow: 0 0 3px $light-gray;
    }
  }
}

// Search
.search {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 1rem 2rem;

  &__options {
    margin: auto 0;
    padding: 10px 0;
  }

  &__item {
    display: inline;
    padding: 0.5rem;
  }

  &__link {
    cursor: pointer;
    padding-bottom: 2px;
    transition: color 1s ease-in;

    &:hover {
      border-bottom: 2px solid #000;
      color: lighten(#000000, 50%);
    }
  }

  &__form {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }

  &__new {
    background-color: $main-color;
    border-radius: 4px;
    color: #fff;
    display: inline;
    font-size: 0.7rem;
    padding: 1px 5px;
    text-transform: uppercase;
  }

  &__input {
    border-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    padding: 1rem;
    transition: border 50ms ease-in;
    width: 33vw;

    &:hover {
      border: 1px solid rgb(235, 235, 235);
      border-radius: 12px;
    }

    &:last-of-type {
      button {
        background-color: $main-color;
        background-image: linear-gradient(
          to right,
          $main-color,
          darken($main-color, 10%)
        );
        border: 1px solid rgb(235, 235, 235);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        float: right;
        outline-style: none;
        padding: 0.7rem;
        transition: box-shadow 500ms;

        i {
          color: #fff;
          margin-right: 5px;
        }
      }
    }
  }
}

// Message section
.message {
  margin: 2rem 4rem;

  &__text {
    font-size: 2.5rem;
    font-weight: normal;
    background: linear-gradient(
      to right,
      rgb(146, 23, 77) 9.38%,
      rgb(228, 29, 92) 88.54%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
